/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*,
*:before,
*:after {
	box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html,
body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.Collapsible--work .Collapsible__trigger-icon {
	top: 50%;
}

@media (min-width: 1024px) {
	.Collapsible > * > .Collapsible__contentInner {
		padding: 1em 0;
	}

	.Collapsible--work .Collapsible__trigger-icon {
		top: 50%;
	}
}

.Collapsible__trigger {
	position: relative;
}
.Collapsible__trigger-icon {
	position: absolute;
	right: 1em;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	transition: transform 300ms;
}
.is-open .Collapsible__trigger-icon {
	transform: translateY(-50%) rotateZ(-180deg);
}

/* @media (max-width: 767px) { */

/* } */

img {
	max-width: 100%;
	vertical-align: bottom;
}

a {
	overflow: hidden;
	box-shadow: none;
	text-decoration: none;
}

@media (max-width: 1023px) {
	.Collapsible--career > * > .Collapsible__contentInner {
		padding: 1em 0;
	}

	.Collapsible__trigger-icon {
		right: 0.0625em;
	}
}

@media print {
	.Collapsible--career .Collapsible__contentInner > div > div:nth-child(even) {
		page-break-after: always;
	}
}
